<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{> header}}
        <p>This site was created by  Shreyas Bhide.It uses data from open weather org and mapbox api </p>
        <img src="/img/36.jpg"  class='portrait'alt="skateboard">
    </div>
    
    {{>footer}}

</body>

</html>